h1 {
  text-align: center;
}

p {
  text-align: center;
}
a {
  background-color: black;
  color: white;
  padding: 4px 20px;
  border-radius: 10px;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.center {
  display: flex;
  justify-content: center;
}
